*{
	background-color: #ADD8E6;
	margin: auto;
	margin-top:10px; 
	}
.main{
	width: 300px;
	height: 200px;
	margin-top: 200px;
	background-color: white;
	text-align: center;
	}
h2{
	background-color: white;
	}
input{
	background-color: white;
	}
label{
	background-color: white;
	}
button{
	background-color: white;
	}
